REACT_APP_API_BASE=https://func-tucn-cc-dev-agi-ias.azurewebsites.net
REACT_APP_COGNITO_AUTHORITY=https://cognito-idp.<region>.amazonaws.com/<user-pool-id>
REACT_APP_COGNITO_CLIENT_ID=your-app-client-id
REACT_APP_COGNITO_DOMAIN=https://your-domain.auth.<region>.amazoncognito.com
REACT_APP_OIDC_REDIRECT_URI=https://app-tucn-cc-dev-agi-ias.azurewebsites.net
REACT_APP_OIDC_SCOPE=openid email profile
REACT_APP_LOGOUT_URI=https://app-tucn-cc-dev-agi-ias.azurewebsites.net
